-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "name" TEXT,
    "resetToken" TEXT,
    "resetTokenExpiry" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Profile" (
    "id" TEXT NOT NULL,
    "fullName" TEXT NOT NULL DEFAULT 'ABDELLAH AIT-SI',
    "brandName" TEXT NOT NULL DEFAULT 'CodeVirtox',
    "professionalTitle" TEXT NOT NULL DEFAULT 'Full Stack Developer | AI & Automation',
    "shortBio" TEXT NOT NULL DEFAULT 'Building modern web applications and smart automated solutions.',
    "aboutText" TEXT NOT NULL DEFAULT '',
    "footerBio" TEXT NOT NULL DEFAULT '',
    "email" TEXT NOT NULL DEFAULT 'contact@codevirtox.com',
    "phone" TEXT NOT NULL DEFAULT '+212 600-000-000',
    "location" TEXT NOT NULL DEFAULT 'Oulad Teima, Morocco',
    "githubUrl" TEXT NOT NULL DEFAULT '',
    "linkedinUrl" TEXT NOT NULL DEFAULT '',
    "instagramUrl" TEXT NOT NULL DEFAULT '',
    "twitterUrl" TEXT NOT NULL DEFAULT '',
    "featuredProjectsTitle" TEXT NOT NULL DEFAULT 'Featured Projects',
    "featuredProjectsDescription" TEXT NOT NULL DEFAULT 'A selection of projects showcasing my experience in full-stack development, web applications, automation, and problem-solving.',
    "aboutCard1Title" TEXT NOT NULL DEFAULT 'Build & Develop',
    "aboutCard1Description" TEXT NOT NULL DEFAULT 'Creating modern, responsive, and scalable web applications using technologies such as React, Laravel, Next.js, and MySQL.',
    "aboutCard2Title" TEXT NOT NULL DEFAULT 'AI & Automation',
    "aboutCard2Description" TEXT NOT NULL DEFAULT 'Building intelligent workflows and automation solutions that simplify repetitive tasks and improve productivity.',
    "aboutCard3Title" TEXT NOT NULL DEFAULT 'Learn & Improve',
    "aboutCard3Description" TEXT NOT NULL DEFAULT 'Continuously exploring new technologies, improving my skills, and building better digital products.',
    "stat1Value" TEXT NOT NULL DEFAULT '6+',
    "stat1Label" TEXT NOT NULL DEFAULT 'Certificates',
    "stat2Value" TEXT NOT NULL DEFAULT '14+',
    "stat2Label" TEXT NOT NULL DEFAULT 'Projects',
    "stat3Value" TEXT NOT NULL DEFAULT '8+',
    "stat3Label" TEXT NOT NULL DEFAULT 'Technologies',
    "projectsPageTitle" TEXT NOT NULL DEFAULT 'Selected Projects',
    "projectsPageDescription" TEXT NOT NULL DEFAULT 'A selection of projects showcasing my experience in full-stack development, web applications, automation, and problem-solving.',
    "certificatesPageTitle" TEXT NOT NULL DEFAULT 'Certificates & Credentials',
    "certificatesPageDescription" TEXT NOT NULL DEFAULT 'A collection of certifications and professional training completed throughout my journey in software development, programming, databases, and web technologies.',
    "educationPageTitle" TEXT NOT NULL DEFAULT 'My Educational Journey',
    "educationPageDescription" TEXT NOT NULL DEFAULT 'My academic background and continuous journey in software development and technology.',
    "resumeIntro" TEXT NOT NULL DEFAULT 'Full-stack developer with hands-on experience building web applications, backend systems, and database-driven solutions. Focused on clean architecture, practical problem-solving, and continuous learning.',
    "resumeTechTitle" TEXT NOT NULL DEFAULT 'Technologies I work with',
    "resumeExpTitle" TEXT NOT NULL DEFAULT 'Experience & Projects',
    "contactPageTitle" TEXT NOT NULL DEFAULT 'Let''s Build Something Great Together.',
    "contactPageDescription" TEXT NOT NULL DEFAULT 'Have a project, a role,or just want to connect? I usually reply within 24 hours.',
    "footerCopyright" TEXT NOT NULL DEFAULT '',
    "footerCredit" TEXT NOT NULL DEFAULT '',
    "logoUrl" TEXT NOT NULL DEFAULT '',
    "profileImage" TEXT NOT NULL DEFAULT '',
    "cvFile" TEXT NOT NULL DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Profile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Project" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "shortDescription" TEXT NOT NULL,
    "fullDescription" TEXT NOT NULL DEFAULT '',
    "technologies" TEXT NOT NULL DEFAULT '[]',
    "startDate" TEXT NOT NULL,
    "endDate" TEXT NOT NULL DEFAULT '',
    "location" TEXT NOT NULL DEFAULT 'Oulad Teima, Morocco',
    "projectImage" TEXT NOT NULL DEFAULT '',
    "githubUrl" TEXT NOT NULL DEFAULT '',
    "liveDemoUrl" TEXT NOT NULL DEFAULT '',
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Project_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Certificate" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "issuer" TEXT NOT NULL,
    "issueDate" TEXT NOT NULL,
    "skills" TEXT NOT NULL DEFAULT '[]',
    "certificateImage" TEXT NOT NULL DEFAULT '',
    "credentialUrl" TEXT NOT NULL DEFAULT '',
    "credentialId" TEXT NOT NULL DEFAULT '',
    "category" TEXT NOT NULL DEFAULT '',
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Certificate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Skill" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "icon" TEXT NOT NULL DEFAULT '',
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Skill_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Education" (
    "id" TEXT NOT NULL,
    "degree" TEXT NOT NULL,
    "field" TEXT NOT NULL,
    "institution" TEXT NOT NULL,
    "location" TEXT NOT NULL DEFAULT '',
    "year" TEXT NOT NULL,
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Education_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Experience" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "technologies" TEXT NOT NULL DEFAULT '[]',
    "startDate" TEXT NOT NULL,
    "endDate" TEXT NOT NULL DEFAULT '',
    "location" TEXT NOT NULL DEFAULT 'Oulad Teima, Morocco',
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Experience_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Language" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "level" TEXT NOT NULL,
    "displayOrder" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Language_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SoftSkill" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "icon" TEXT NOT NULL DEFAULT '',
    "displayOrder" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "SoftSkill_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContactMessage" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ContactMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppSettings" (
    "id" TEXT NOT NULL DEFAULT 'singleton',
    "smtpHost" TEXT NOT NULL DEFAULT '',
    "smtpPort" INTEGER NOT NULL DEFAULT 587,
    "smtpUser" TEXT NOT NULL DEFAULT '',
    "smtpPass" TEXT NOT NULL DEFAULT '',
    "smtpSecure" BOOLEAN NOT NULL DEFAULT true,
    "fromName" TEXT NOT NULL DEFAULT '',
    "fromEmail" TEXT NOT NULL DEFAULT '',
    "replyToEmail" TEXT NOT NULL DEFAULT '',
    "contactReceiverEmail" TEXT NOT NULL DEFAULT '',
    "contactEmailEnabled" BOOLEAN NOT NULL DEFAULT false,
    "adminLoginEmailEnabled" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AppSettings_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Project_slug_key" ON "Project"("slug");

